<%- include('head') %>
<%- include('header') %>

<body>
    <div class='movies'>
        <h1 class='theKino'>Movies</h1>
        <main>
            <ul class='movieList'>
                <% articles.forEach((article)=> { %>
                    <li class='movie'>
                        <a class='movie__link' href=<%='/movies/' +article.id %>
                            <h2>
                                <%= article.title %>
                            </h2>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </main>
    </div>
</body>

<%- include('footer') %>
</html>