<%- include('head') %>
<%- include('header') %>

<body>
    <div class='movieSite'>
        <h1 class='movieTitle'>
            <%= article.title %>
        </h1>

        <div class='introText'>
            <%- introText %>
        </div>

        <div class='movieContainer'>
            <img class='movieContainer__poster' src=<%=article.image.url %> alt="Picture of the movie"/>
        </div>
    </div>
</body>

<%- include('footer') %>
</html>